[submodule "openarm_description"]
	path = openarm_description
	url = https://github.com/enactic/openarm_description.git
[submodule "openarm_mujoco"]
	path = openarm_mujoco
	url = https://github.com/enactic/openarm_mujoco.git
[submodule "openarm_ros2"]
	path = openarm_ros2
	url = https://github.com/enactic/openarm_ros2.git
